{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "translation" as translation_translated %}
    {{ translation_translated|capfirst }}
{% endblock %}
{% block content %}
    {% trans "translation" as translation_translated %}
    <h2>{{ translation_translated|capfirst }}</h2>
    <div class="card mb-3">
        <div class="ratio ratio-16x9">
          <iframe
            src="{{ camera_link }}"
            allowfullscreen
            style="border: 0;">
          </iframe>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">Camera Stream</p>
            {% if not camera_link %}
            <p class="text-danger">No camera link provided.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}