{% extends 'base.html' %}
{% load i18n %}
{% block title %}Main{% endblock %}
{% block content %}
    {% trans "welcome" as welcome_translated %}
    <h1>{{ welcome_translated|capfirst }}!</h1>
    {% if user.is_authenticated %}
        {% trans "hello" as hello_translated %}
        <p>{{ hello_translated|capfirst }}, {{ user.username }}!</p>
    {% else %}
        {% trans "select" as select_translated %}
        <p>{{ select_translated|capfirst }}, <a href="{% url 'login' %}">{% trans "sign in" %}</a> {% trans "or" %} <a href="{% url 'register' %}">{% trans "register" %}</a>.</p>
    {% endif %}
{% endblock %}