{% extends 'base.html' %}
{% load i18n %}
{% trans "sign in" as sign_in_translated %}
{% block title %}{{ sign_in_translated|capfirst }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        {% trans "sign in" as sign_in_translated %}
        <h1 class="mb-4">{{ sign_in_translated|capfirst }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {% trans "username" as username_translated %}
                <label for="username" class="form-label">{{ username_translated|capfirst }}</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">{% trans "Password" %}</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            {% trans "sign in" as sign_in_translated %}
            <button type="submit" class="btn btn-primary">{{ sign_in_translated|capfirst }}</button>
        </form>
    </div>
</div>
{% endblock %}