{% extends 'base.html' %}
{% load i18n %}
{% trans "register" as register_translated %}
{% block title %}{{ register_translated|capfirst }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        {% trans "register" as register_translated %}
        <h1 class="mb-4">{{ register_translated|capfirst }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p|safe }}
            {% trans "register" as register_translated %}
            <button type="submit" class="btn btn-primary">{{ register_translated|capfirst }}</button>
        </form>
    </div>
</div>
{% endblock %}